* {
    box-sizing: border-box;
}

#calculator {
    height: 500px;
    width: 300px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

#output {
    background-color: white;
    border: 2px solid black;
    /* width: 100%; */
    height: 62.5px;
    text-align: right;
    padding-top: 4%;
}

#clear {
    background-color: orange;
    height: 62.5px;
    text-align: center;
}

.sq {
    width: 75px;
    height: 75px;
    color: white;
    background-color: black;
    text-align: center;
}

.btn {
    border: 1px solid grey;
    /* text-align: right; */
}

#input {
    display: flex;
}
